<p>
  <label>Introduce the grammar model</label>
</p>
<div class="row">
  <div class="col-4">

    <!--
    <div class="d-flex column mb-5">
      <button class="btn btn-primary me-5" (click)="this.build()">Model
        build</button>
      <button class="btn btn-danger" (click)="this.reset()">Reset</button>
    </div> -->
    <div class="mb-3">
      <input type="checkbox" class="me-2" [(ngModel)]="this.fullModel" (click)="clickFullModel()">Full Model
    </div>

    <div class="row" *ngIf="!this.fullModel">
      <div class="col">
        <label class="me-2">Class Name:</label>

        <select class="mb-3" [(ngModel)]="this.selectedClass" (change)="changeClass()">
          <option *ngFor="let class of this.getClasses()">
            {{ class.name }}
          </option>
        </select>
      </div>
      <ng-container *ngIf="this.selectedClass">
        <div class="row mb-3">
          <div class="col">

          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="this.selectedClass != ''">
        <div class="mb-2"></div>
        <div class="row">
          <div class="col-2">
            - <input type="radio" name="radioOperation" (click)="this.clickRemoveAllContext()" />
          </div>
          <div class="col">
            All Context
          </div>
          <div class="col-2">
            <input type="radio" name="radioOperation" (click)="this.clickAddAllContext()" /> +
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-2">
            - <input type="radio" name="radioOperation" (click)="this.clickRemoveEfferentContext()" />
          </div>
          <div class="col">
            Efferent Context
          </div>
          <div class="col-2">
            <input type="radio" name="radioOperation" (click)="this.clickAddEfferentContext()" /> +
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-2">
            - <input type="radio" name="radioOperation" (click)="this.clickRemoveEfferentAssociation()" />
          </div>
          <div class="col">
            Efferent Association Context
          </div>
          <div class="col-2">
            <input type="radio" name="radioOperation" (click)="this.clickAddEfferentAssociation()" /> +
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            - <input type="radio" name="radioOperation" (click)="this.clickRemoveEfferentComposition()" />
          </div>
          <div class="col">
            Efferent Composition Context
          </div>
          <div class="col-2">
            <input type="radio" name="radioOperation" (click)="this.clickAddEfferentComposition()" /> +
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            - <input type="radio" name="radioOperation" (click)="this.clickRemoveEfferentUse()" />
          </div>
          <div class="col">
            Efferent Use Context
          </div>
          <div class="col-2">
            <input type="radio" name="radioOperation" (click)="this.clickAddEfferentUse()" /> +
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            - <input type="radio" name="radioOperation" (click)="this.clickRemoveEfferentInherit()" />
          </div>
          <div class="col">
            Efferent Inherit Context
          </div>
          <div class="col-2">
            <input type="radio" name="radioOperation" (click)="this.clickAddEfferentInherit()" /> +
          </div>
        </div>
        <div class="mb-2"></div>
        <hr>
        <div class="row">
          <div class="col-2">
            - <input type="radio" name="radioOperation" (click)="this.clickRemoveAfferentContext()" />
          </div>
          <div class="col">
            Afferent Context
          </div>
          <div class="col-2">
            <input type="radio" name="radioOperation" (click)="this.clickAddAfferentContext()" /> +
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-2">
            - <input type="radio" name="radioOperation" (click)="this.clickRemoveAfferentAssociation()" />
          </div>
          <div class="col">
            Afferent Association Context
          </div>
          <div class="col-2">
            <input type="radio" name="radioOperation" (click)="this.clickAddAfferentAssociation()" /> +
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            - <input type="radio" name="radioOperation" (click)="this.clickRemoveAfferentComposition()" />
          </div>
          <div class="col">
            Afferent Composition Context
          </div>
          <div class="col-2">
            <input type="radio" name="radioOperation" (click)="this.clickAddAfferentComposition()" /> +
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            - <input type="radio" name="radioOperation" (click)="this.clickRemoveAfferentUse()" />
          </div>
          <div class="col">
            Afferent Use Context
          </div>
          <div class="col-2">
            <input type="radio" name="radioOperation" (click)="this.clickAddAfferentUse()" /> +
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            - <input type="radio" name="radioOperation" (click)="this.clickRemoveAfferentInherit()" />
          </div>
          <div class="col">
            Afferent Inherit Context
          </div>
          <div class="col-2">
            <input type="radio" name="radioOperation" (click)="this.clickAddAfferentInherit()" /> +
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col">
            <label class="me-2">Remove class:</label>
            <select class="mb-3" [(ngModel)]="this.classToRemove" (change)="removeClass()">
              <option *ngFor="let class of this.getDiagramClasses()">
                {{ class.name }}
              </option>
            </select>
          </div>
        </div>
      </ng-container>
    </div>
    <p>
      <textarea [disabled]="this.isBuildedModel()" [(ngModel)]="this.fileContent"></textarea>
    </p>

  </div>
  <div class="col">
    <app-diagram [diagramUml]="this.diagramUml"></app-diagram>
  </div>
</div>
